.newuser {
  flex: 4;
  margin-left: 20px;
}

.newuserForm {
  display: flex;
  flex-wrap: wrap;
}

.newuserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newuserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.newuserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newuserGender > input {
  margin-top: 15px;
}

.newuserGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newUserSelect {
  height: 40px;
  border-radius: 5px;
}

.newUserButton {
  width: 200px;
  border: none;
  padding: 7px 10px;
  color: white;
  border-radius: 10px;
  background-color: darkblue;
  margin-top: 30px;
  cursor: pointer;
}
